
 /* Header Parallax Element Style*/ 
 .paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }
    
    /* Image for Parallax Section */ 
    .paralsec {
    background-image: url("img/winter-background.jpg");
    }
    
    /* Remove Bottom Margin from Jumbotron */
    .jumbotron{margin-bottom: 0;}

    /*Colorado in the footer area*/
.colorado {
    text-align: center;
    color: red;
    font-size: 100px;
    letter-spacing: 8px;
    position: relative;
    animation-name: text-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin-bottom: 20px;
}

@keyframes text-change {
    0% {
        color: black;
        margin-bottom: 20px;}
    50% {
        letter-spacing: 25px;
        color: orange;
        margin-bottom: 20px; }
    100% {
        color: red;
        margin-bottom: 20px;
    }
}

/*Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) {
    li, p {font-size: 1.5rem;}
    h2 {font-size: 3rem;}
    .colorado {font-size: 5rem;}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    li,p {font-size: 1.25rem;}
    h2 {font-size: 2.5rem;}
    .colorado {font-size: 4rem;}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) {
    li, p {font-size: 1rem;}
    h2 {font-size: 2rem;}
    .colorado {font-size: 3rem;}
}
