* {
    box-sizing: border-box;
}
.list {
    list-style-type: none;
}

.row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: relative;
}

.table, th, td {
    border: solid pink;
}

.th, td {
    width: 100%
}

.row1 {
    background-color: orange;
    border-style: solid;
    border-color: black;
    text-align: center;
    text-decoration-color: chocolate;
    text-decoration:line-through ;
    padding: 50px 0;
}

.row2 {
    text-align: center;
    color: blueviolet;
    font-size: 3rem;
    text-transform:uppercase;
    font-style: italic ;

}

.row3 {
    text-align: right;
    font-style: bold ;
    text-transform: capitalize;
    text-decoration: underline;
}

.new-table {
    margin: 25%;
    padding: 20px 0;
}


.display-center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: line-through;
    font-size: 3rem;
    text-transform: capitalize;
    color: pink;
    border: solid pink;
}

.display-top-left {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: underline;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.display-top-right {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: overline;
    font-size: 3rem;
    text-transform: capitalize;
    color: lightgreen
}

.display-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3rem;
    text-transform: capitalize;
    text-decoration: line-through;
}

.flex-container {
    display: flex;
}
.flex-item-left {
    background-color: pink;
    flex: 30%;
}

.flex-item-right {
    flex: 70%;
    background-color: lightgreen;
}

.img2 {
    float: right;
    width: 50%;
}

.img

.grid-container {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.float-container {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.clearfix::after {
    content: "" ;
    clear:both;
    display: table;
}

.float-container2 {
    float: left;
    width: 25%;
}

.display3 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: relative;
}

.text1 {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
    background-color: lightgreen;
}
.text2 {
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: line-through ;
}
.img3 {
    position: absolute;
    top: 0;
    right:0;
    width: 5%; 
}

ul::after{
    content: "";
    clear: both;
    display: table;
}

.menu-left li {
    float: left;
    list-style-type: none;
    margin: 10px;
}

.menu-right li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

a:link {
    text-decoration: none;
    color: purple;
}

